{% extends 'main.html' %}
{% block content %}
<div class="about_div">
    <h1>Our team</h1>
    <hr />
    <p> Eytan Babaev </p>
    <p> Yuval Varshevski </p>
    <p> Anton Finkelstein </p>
    <p style="margin-bottom: 5rem;"> Elad Lapidot </p>

    <h1> Our goals</h1>
    <hr />
    <ul>
        <li style="max-width: 600px; margin-bottom: 3rem;"> Make an easy-to-understand webpage for people
            who have no experience in the stock
            world but are interested in it</li>

        <li style="max-width: 600px; margin-bottom: 3rem;"> Teach about definitions in finance.</li>
        <li style="max-width: 600px; margin-bottom: 3rem;"> Make an easy-to-use UI for the user.</li>
    </ul>
</div>


{% endblock%}