{% extends 'main.html' %}
{% block content %}


<!-- <div class="def_div" style="max-width: 500px;">
    <h1>Definitions</h1>
    <hr />
    <h2>What is Finance?</h2>
    <li style="margin-bottom: 50px;"> Finance is defined as the management of money and includes activities such as
        investing, borrowing, lending,
        budgeting, saving, and forecasting.
        There are three main types of finance: (1) personal, (2) corporate, and (3) public/government.</li>

    <h2>Net income</h2>
    <li style="margin-bottom: 50px;">Net income defines a company’s total earnings or profit.
        Simply put, net income is what you get when you subtract all expenses (including tax expenses) from revenue.
        When a company’s net income increases, it’s normally a result of either increased revenue or slashed expenses.
        It goes without saying that an increase in net income is generally perceived as positive and factors into a
        stock’s performance.</li>

    <h2>ETIBDA</h2>
    <li style="margin-bottom: 50px;">EBITDA, or earnings before interest, taxes, depreciation, and amortization, is a
        measure of a company’s overall
        financial performance and is used as an alternative to net income in some circumstances.
        EBITDA, however, can be misleading because it does not reflect the cost of capital investments like property,
        plants, and equipment.</li>

    <h2>GAAP</h2>
    <li style="margin-bottom: 50px;">As a new investor, it’s important to know the distinctions between like
        measurements, because the market allows
        firms to advertise their numbers in ways not otherwise regulated.
        Often companies will publicize their numbers using either GAAP or non-GAAP measures. GAAP, or generally accepted
        accounting principles,
        outlines rules and conventions for reporting financial information. It is a means to standardize financial
        statements and ensure consistency in reporting.</li>

    <h2>EPS</h2>
    <li style="margin-bottom: 50px;"> Earnings per share (EPS) is calculated as a company's profit divided by the
        outstanding shares of its common
        stock.
        The resulting number serves as an indicator of a company's profitability.
        It is common for a company to report EPS that is adjusted for extraordinary items and potential share dilution.
        The higher a company's EPS, the more profitable it is considered to be.</li>
</div> -->

<div class="def_div_container">
    <h1>Definitions:</h1>
    <hr>
    <div class="def_div_beta">
        <h2>Stock:</h2>
        <p>A stock (also known as equity) is a security that represents the ownership of a fraction of a corporation.
            This entitles
            the owner of the stock to a proportion of the corporation's assets and profits equal to how much stock they
            own. Units
            of stock are called "shares".</p>

        <h2>Market Capitalization:</h2>
        <p>Market capitalization refers to the total dollar market value of a company's outstanding shares of stock.
            Commonly
            referred to as "market cap," it's calculated by multiplying the total number of a company's outstanding
            shares by the
            current market price of one share.

            For example, a company with 10 million shares selling for $100 each would have a market cap of $1 billion.
            The
            investment community uses this figure to determine a company's size, as opposed to sales or total asset
            figures. In an
            acquisition, the market cap is used to determine whether a takeover candidate represents a good value or not
            to the
            acquirer.</p>

        <h2>Beta:</h2>
        <p>A company’s beta is a measure of the volatility, or systematic risk, of a security, as it compares to the
            broader
            market. The beta of a company measures how the company’s equity market value changes with changes in the
            overall market.
            It is used in the capital asset pricing model (CAPM) to estimate the return of an asset.</p>

    </div>
</div>
{% endblock%}