{% extends 'main.html' %}
{% block content %}
<h1>Definitions</h1>

<div>
 <h1>What is Finance?</h1>
    <txt> Finance is defined as the management of money and includes activities such as investing, borrowing, lending, budgeting, saving, and forecasting.
     There are three main types of finance: (1) personal, (2) corporate, and (3) public/government.</txt>

    <h2>Net income</h2>
    <txt>Net income defines a company’s total earnings or profit.
        Simply put, net income is what you get when you subtract all expenses (including tax expenses) from revenue.
        When a company’s net income increases, it’s normally a result of either increased revenue or slashed expenses.
        It goes without saying that an increase in net income is generally perceived as positive and factors into a stock’s performance.</txt>

    <h3>ETIBDA</h3>
    <txt>EBITDA, or earnings before interest, taxes, depreciation, and amortization, is a measure of a company’s overall financial performance and is used as an alternative to net income in some circumstances.
        EBITDA, however, can be misleading because it does not reflect the cost of capital investments like property, plants, and equipment.</txt>

    <h4>GAAP</h4>
    <txt>As a new investor, it’s important to know the distinctions between like measurements, because the market allows firms to advertise their numbers in ways not otherwise regulated.
        Often companies will publicize their numbers using either GAAP or non-GAAP measures. GAAP, or generally accepted accounting principles,
        outlines rules and conventions for reporting financial information. It is a means to standardize financial statements and ensure consistency in reporting.</txt>

    <h5>EPS</h5>
    <txt> Earnings per share (EPS) is calculated as a company's profit divided by the outstanding shares of its common stock.
        The resulting number serves as an indicator of a company's profitability.
        It is common for a company to report EPS that is adjusted for extraordinary items and potential share dilution.
        The higher a company's EPS, the more profitable it is considered to be.</txt>
</div>

{% endblock%}
