<table border="1" class="dataframe">
  <thead>
    <tr style="ext-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Dividends</th>
      <th>Stock Splits</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2022-04-01</th>
      <td>309.369995</td>
      <td>310.130005</td>
      <td>305.540009</td>
      <td>309.420013</td>
      <td>27085100</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2022-04-04</th>
      <td>310.089996</td>
      <td>315.109985</td>
      <td>309.709991</td>
      <td>314.970001</td>
      <td>24289600</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2022-04-05</th>
      <td>313.269989</td>
      <td>314.869995</td>
      <td>309.869995</td>
      <td>310.880005</td>
      <td>23156700</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2022-04-06</th>
      <td>305.190002</td>
      <td>307.000000</td>
      <td>296.709991</td>
      <td>299.500000</td>
      <td>40110400</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>